@import 'base/fonts';
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.container {
  max-width: 1568px;
  width: 85.666%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.br {
  display: none;
}

@import "blocks/title";
@import "blocks/footer";
@import "blocks/feedback";
@import "blocks/button";
@import "blocks/header";
@import "blocks/map";
@import "blocks/collection";
@import "blocks/openMore";
@import "blocks/lastSize";
@import "blocks/getDiscount";
@import "blocks/certificate";
@import "blocks/marquee";
@import "blocks/partners";
@import "blocks/cooperation";
@import "blocks/customerOriented";
@import "blocks/inf";
@import 'media/general';
