@media (max-width:1720px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .button {
        &_card {
            height: 27px;
            border: 1px solid #000;
            font-size: 12px;
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
