@media (max-width: 992px) {
  .certificate{
    margin-bottom: 45px;
    &_wrapper{
      display: flex;
      flex-direction: column;
      gap: 55px;
      width: 100%;
      &_text{
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
      &_img{
        display: none;
      }
      &_swiper{
        display: inline;
        &_imgdes{
          height: 60%;
        }
      }
    }
  }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}