@media (max-width: 992px) {
  .certificate{
    margin-bottom: 45px;
    &_wrapper{
      gap: 55px;
      &_text{
        gap: 25px;
      }
      &_img{
        display: none;
      }
      &_swiper{
        display: inline;
        &_imgdes{
          height: 60%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .certificate{
    margin-bottom: 50px;
    &_wrapper{
      gap: 30px;
      &_text{
        gap: 20px;
      }

    }
  }
}
@media (max-width: 480px) {
  .certificate{
    margin-bottom: 60px;
    &_wrapper{
      gap: 20px;
      &_text{
        gap: 20px;
      }

    }
  }
}