@import "title";
@import "footer";
@import "feedback";
@import "header";
@import "map";
@import "collection";
@import "openMore";
@import "lastSize";
@import "getDiscount";
@import "certificate";
.hide {
	display: none;
}
.show {
	display: block;
}
.flex {
	display: flex;
}

@media (max-width: 768px) {
  .container {
    width: 86.666%;
  }
}
