@media (max-width:1720px) {
  .title {
    &_85{
      font-size: 78px;
    }
    &_64{
      font-size: 59px;
    }
    &_55{
      font-size: 49px;
    }
    &_48{
      font-size: 42px;
    }
    &_40{
      font-size: 36px;
    }
    &_36{
      font-size: 33px;
    }
    &_32{
      font-size: 29px;
    }
    &_30{
      font-size: 28px;
    }
    &_24{
      font-size: 23px;
    }
  }
}
@media (max-width:1600px) {
  .title {
    &_85{
      font-size: 71px;
    }
    &_64{
      font-size: 54px;
    }
    &_55{
      font-size: 43px;
    }
    &_48{
      font-size: 39px;
    }
    &_40{
      font-size: 31px;
    }
    &_36{
      font-size: 30px;
    }
    &_32{
      font-size: 26px;
    }
    &_30{
      font-size: 26px;
    }
    &_24{
      font-size: 21px;
    }
    &_16{
      font-size: 15px;
    }
  }
}
@media (max-width:1440px) {
  .title {
    &_85{
      font-size: 64px;
    }
    &_64{
      font-size: 50px;
    }
    &_55{
      font-size: 38px;
    }
    &_48{
      font-size: 36px;
    }
    &_40{
      font-size: 28px;
    }
    &_36{
      font-size: 28px;
    }
    &_32{
      font-size: 24px;
    }
    &_30{
      font-size: 24px;
    }
    &_24{
      font-size: 20px;
    }
    &_20 {
      font-size: 17px;
    }
    &_16{
      font-size: 14px;
    }
  }
}
@media (max-width: 1200px) {
  .title {
    &_85{
      font-size: 57px;
    }
    &_64{
      font-size: 45px;
    }
    &_55{
      font-size: 32px;
    }
    &_48{
      font-size: 33px;
    }
    &_40{
      font-size: 25px;
    }
    &_36{
      font-size: 26px;
    }
    &_32{
      font-size: 22px;
    }
    &_30{
      font-size: 22px;
    }
    &_24{
      font-size: 19px;
    }
    &_20 {
      font-size: 16px;
    }
    &_16{
      font-size: 13px;
    }
  }
}
@media (max-width: 992px) {
  .title {
    &_85{
      font-size: 50px;
    }
    &_64{
      font-size: 40px;
    }
    &_55{
      font-size: 27px;
    }
    &_48{
      font-size: 30px;
    }
    &_40{
      font-size: 22px;
    }
    &_36{
      font-size: 24px;
    }
    &_32{
      font-size: 20px;
    }
    &_30{
      font-size: 20px;
    }
    &_24{
      font-size: 18px;
    }
    &_20 {
      font-size: 20px;
    }
    &_16{
      font-size: 12px;
    }
  }
}
@media (max-width: 768px) {
  .title {
    &_85{
      font-size: 43px;
    }
    &_64{
      font-size: 36px;
    }
    &_55{
      font-size: 21px;
    }
    &_48{
      font-size: 27px;
    }
    &_40{
      font-size: 19px;
    }
    &_36{
      font-size: 22px;
    }
    &_32{
      font-size: 18px;
    }
    &_30{
      font-size: 18px;
    }
    &_24{
      font-size: 17px;
    }
    &_20 {
      font-size: 20px;
    }
    &_16{
      font-size: 11px;
    }
  }
}
@media (max-width: 480px) {
  .title {
    &_85{
      font-size: 36px;
    }
    &_64{
      font-size: 32px;
    }
    &_55{
      font-size: 16px;
    }
    &_48{
      font-size: 24px;
    }
    &_40{
      font-size: 16px;
    }
    &_36{
      font-size: 20px;
    }
    &_32{
      font-size: 16px;
    }
    &_30{
      font-size: 16px;
    }
    &_24{
      font-size: 16px;
    }
    &_20 {
      font-size: 20px;
    }
    &_16{
      font-size: 10px;
    }
  }
}