.button {
    display: flex;
	justify-content: center;
	align-items: center;
    height: 58px;
    padding: 3px;
    background: #000;
    border: 2px solid #ffffff;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    transition: 0.7s;
    &_card {
        border: 2px solid #000;
        background: none;
        color: #000;
    }
}
.button:hover{
    color: #020000;
    background: #ffffff;
    transition: 0.7s;
}
.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    padding: 3px;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #020000;
    transition: 0.7s;
    &_card {
        border: 2px solid #000;
        background: none;
        color: #000;
    }
}
.button2:hover{
    background: #020000;
    color: #ffffff;
    transition: 0.7s;
}