.getDiscount{
  &_wrapper{
    display: grid;
    grid-template-columns: 45% 45% ;
    background: #000000;
    gap: 90px;
    &_imgs{
      display: grid;
      grid-template-columns: 33% 33% 33%;
      img{
        width: 100%;
        height: 296px;
      }
    }
    &_text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      button{
        width: 55%;
      }
      span{
        font-family: MontserratThin, sans-serif;
        font-weight: 100;
        line-height: 109%;
        color: #fff;
      }
    }
  }
}
.getDiscount_wrapper_imgsMob{
  display: none;
}