.header{
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1;
  &_a{
    float: left;
    color: #ffffff;
    text-align: center;
    padding:  15px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
  }
  &_nav{
    margin: 0 6% 0 0;
    display:flex;
    align-items: center;
  }
  img{
    margin:  6px 0 0 45px;
  }
}
.menu{
  display: none;
}