@font-face {
    font-family: 'Arkhip';
    src: url('../fonts/Arkhip.eot'),
        url('../fonts/Arkhip.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arkhip.woff2') format('woff2'),
        url('../fonts/Arkhip.woff') format('woff'),
        url('../fonts/Arkhip.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFoSans-Regular.eot'),
        url('../fonts/CoFoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CoFoSans-Regular.woff2') format('woff2'),
        url('../fonts/CoFoSans-Regular.woff') format('woff'),
        url('../fonts/CoFoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot'),
        url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot'),
        url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot'),
        url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
